.merch-container {
  margin-top: 50px;
  width: 200px;
  height: 300px;
  margin-left: 100px;
  text-decoration: none;
  background-color: white;
  border: 1px rgb(202, 202, 202) solid;
}

.merch-container:hover {
}

.test {
  background-size: cover;
  width: 200px;
  height: 200px;
}

.merch-info-container {
  display: flex;
  flex-direction: column;
}
.merch-info-container > p {
  text-align: center;
  margin: 5px;
  color: black;
  font-style: normal;
  text-decoration: none;
}
.merch-info-container > p:focus {
  text-align: center;
  margin: 5px;
  color: black;
  font-style: normal;
  text-decoration: none;
}
