.user-profile-info-container {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 350px;
}
.user-profile-info-container > .info-name {
  display: flex;
  color: rgb(83, 82, 82);
  border-top: 1px rgb(206, 206, 206) solid;
  justify-content: space-between;
  font-size: 25px;
}
.user-profile-info-container > .info-name > p {
  margin: 0px;
}
.user-profile-info-container > .editContainer > .edit {
  margin: 0px;
  font-size: 20px;
  color: rgb(114, 114, 246);
  cursor: pointer;
}

.user-profile-info-container > .editContainer > .true {
  margin: 0px;
  font-size: 20px;
  color: rgb(86, 175, 86);
  cursor: pointer;
  margin-right: 15px;
}
.user-profile-info-container > .editContainer > .false {
  margin: 0px;
  font-size: 20px;
  color: rgb(228, 113, 113);
  cursor: pointer;
}
.user-profile-info-container > .editContainer > .true:hover {
  margin: 0px;
  font-size: 20px;
  color: rgb(44, 93, 44) !important;
  margin-right: 15px;
  cursor: pointer;
}
.user-profile-info-container > .editContainer > .false:hover {
  margin: 0px;
  font-size: 20px;
  color: rgb(116, 58, 58) !important;
  cursor: pointer;
}
.user-profile-info-container > .editContainer > .edit:hover {
  color: rgb(38, 38, 255);
}
.user-profile-info-container > .editContainer {
  display: flex;
  justify-content: flex-end;
}

.user-profile-info-container > p {
  margin: 15px;
}
.user-profile-info-container > .info-email {
  font-size: 25px;
  background-color: rgb(241, 241, 241);
}
